/* classes
========================================================================== */
/* icons
========================================================================== */
.icon-arrow-left, .icon-arrow-right {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px; }
  .icon-arrow-left:after, .icon-arrow-right:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px; }

.icon-arrow-left:after {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg); }

.icon-arrow-right:after {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-45deg); }

/* tags
========================================================================== */
body {
  font-family: sans-serif; }
  body:before {
    display: none; }
    @media (min-width: 321px) {
      body:before {
        content: "phone-portrait"; } }
    @media (min-width: 481px) {
      body:before {
        content: "phone-landscape"; } }
    @media (min-width: 601px) {
      body:before {
        content: "tablet-portrait"; } }
    @media (min-width: 769px) {
      body:before {
        content: "tablet-landscape"; } }
    @media (min-width: 961px) {
      body:before {
        content: "desktop"; } }
    @media (min-width: 1280px) {
      body:before {
        content: "desktop-large"; } }

svg {
  width: 100%;
  height: 100%; }

/* carousel
========================================================================== */
.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.carousel-inner {
  width: 25vw;
  overflow: hidden; }

.carousel-container {
  width: 100vw;
  display: flex;
  list-style: none;
  padding: 0; }

.carousel-item {
  width: 25vw; }

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 10px; }

.carousel-button {
  display: inline-block; }

/* svg
========================================================================== */
.svg-include {
  width: 100px;
  height: 100px; }
