/* Icons
   ========================================================================== */
.icon-arrow-left, .icon-arrow-right {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px; }
  .icon-arrow-left:after, .icon-arrow-right:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px; }

.icon-arrow-left:after {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg); }

.icon-arrow-right:after {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-45deg); }

body {
  font-family: sans-serif; }

svg {
  width: 100%;
  height: 100%; }

/* Carousel
   ========================================================================== */
.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.carousel-inner {
  width: 25vw;
  overflow: hidden; }

.carousel-container {
  width: 100vw;
  display: flex;
  list-style: none;
  padding: 0; }

.carousel-item {
  flex-grow: 1; }

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 10px; }

.carousel-button {
  display: inline-block; }

.svg-include {
  width: 100px;
  height: 100px; }
