.body {
  font-family: sans-serif;

  &:before {
    display: none;
    @each $breakpoint in map-keys($breakpoints) {
      @include breakpoint($breakpoint) {
        content: $breakpoint;
      }
    }
  }
}

.svg {
  width: 100%;
}

.container {
  width: calc(100% - 40px);
  margin: 0 auto;
  max-width: map-get($breakpoints, 'desktop');
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
