/* carousel
========================================================================== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;

  &.is-open {
    display: flex;
  }
}

.modal-content {
  background-color: white;
  padding: 40px;
  max-width: calc(100% - 80px)
}

.modal-button {
  display: block;
  border: 2px solid black;
  background-color: transparent;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 0;
}
