.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  opacity: 0;
  transition: opacity .2s, z-index 1.5s;
  transition-delay: 1.5s;
  z-index: -1;

  &.is-open {
    opacity: 1;
    transition: opacity .2s;
    transition-delay: 0;
    z-index: 10;
  }
}

.modal-content {
  background-color: white;
  max-width: calc(100% - 80px);
  transform: translateY(-100%);
  transition: transform 1.5s;
}

.is-open {
  .modal-content {
    transform: translateY(0%);
  }
}


.modal-header {
  text-align: right;
  padding: 0 5px;
}

.modal-body {
  padding: 40px;
  padding-top: 0;
}

.modal-button {
  display: block;
  border: 2px solid black;
  background-color: transparent;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 0;
}

.naked-modal-button {
  border: 0;
  background-color: transparent;
  font-size: 28px;
}
