/* carousel
========================================================================== */
$item-width: 50vw !default;
$carousel-width: $item-width * 4;

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel-inner {
  overflow: hidden;
}

.carousel-inner,
.carousel-item {
  width: $item-width;

  @include breakpoint( tablet-portrait ) {
    $item-width: 25vw;
    width: $item-width;
  }
}

.carousel-container {
  display: flex;
  list-style: none;
  padding: 0;
  width: $carousel-width;

  @include breakpoint( tablet-portrait ) {
    $item-width: 25vw;
    $carousel-width: $item-width * 4;
    width: $carousel-width;
  }
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.carousel-button {
  display: inline-block;
}
