/* Carousel
   ========================================================================== */
.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel-inner {
  width: 25vw;
  overflow: hidden;
}

.carousel-container {
  width: 100vw;
  display: flex;
  list-style: none;
  padding: 0;
}

.carousel-item {
  flex-grow: 1;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.carousel-button {
  display: inline-block;
}
