<button class="modal-button" data-open="animation-modal">Open Modal</button>
<div class="modal overlay center" data-js="modal" data-window="animation-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button class="naked-modal-button" data-close="animation-modal">&times;</button>
    </div>
    <div class="modal-body">
      <p>
        Modal stuff goes here
      </p>
      <button class="modal-button" data-close="animation-modal">Close Modal</button>
    </div>
  </div>
</div>
